.navbar-brand {
	padding: 5px;
	margin-bottom: 10px;
}

.navbar>.container-fluid .navbar-brand {
	margin-left: 0px;
}

.navbar-default {
	background-color: #FFBF00;
}

.navbar-default .navbar-nav li a {
	color: #122b40;
    font-weight: 600;
    font-size: 12px;
    line-height: 30px;
    text-transform: uppercase;
	padding-left: 10px;
	padding-right: 10px;
}

.navbar-default .navbar-nav li a:hover{
	color: #23527c;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #3f4245;
}

footer p {
	line-height: 30px;
	vertical-align: middle;
	text-align: center;
	color: #999999;
}

.gallary {
	min-height: 700px;
	margin-top: 10px;
	margin-bottom: 80px;
}

/*.thumbnail {*/
	/*width: 270px;*/
	/*height: 200px;*/
	/*margin: auto;*/
/*}*/

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
}

.flex1 {
	max-width: 300px;
	max-height: 200px;
	margin: 20px;
}


.flex1 img{
	width: 280px;
	height: 190px;
	object-fit: contain;
	border: none;
}

/*.modal-container * {
	max-width: 100%;
	max-height: 100%;
}

.modal-container {
	max-width: 100%;
	max-height: 50vh;
}*/


.modal-image {
	display: block;
	max-height: 50vh;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.like {
	margin-top: 20px;
	text-align: center;
	font-size: 20px;
}

.modal-header {
	text-align: center;
}


.modal-footer {
	text-align: left;
}

.player {
	font-size: 30px;
	margin-top: 80px;
	margin-right: 30px;
	text-align: right;
}
/*.thumbnail_container {*/
	/*position: relative;*/
	/*width: 100%;*/
	/*padding-bottom: 70%;*/
	/*margin-bottom:20px;*/

/*}*/

/*.thumbnail {*/
	/*border: none;*/
	/*border-style: none;*/
	/*position:absolute;*/
	/*width:100%;*/
	/*height:100%;*/
/*}*/

/*.thumbnail img {*/
	/*position: absolute;*/
	/*top: 0;*/
	/*bottom: 0;*/
	/*left: 0;*/
	/*right: 0;*/
	/*margin: auto;*/
/*}*/

/*img{*/
	/*max-height:100%;*/
	/*max-width:100%;*/
/*}*/